#Recomendado en odoo.sh
cryptography==38.0.4
pyOpenSSL==22.1.0
python-digital-certificate
xmlschema


#lxml
#cryptography
#pyOpenSSL==22.1.0
#python-digital-certificate==0.3.0
#xmlschema==4.1.0

#pyOpenSSL
#python-digital-certificate 
#xmlschema

